<div class="row">
  <div class="col-md-12 col-lg-8 m-auto content">
    <img src="https://raw.githubusercontent.com/MoNwastaken/test-repo/master/placeholder-image.jpg" alt="" class="featured-image">
    <div class="title">
      <h1>{{post.title}}</h1>
    </div>
    <div class="description">
      {{post.body}}
    </div>
    <div *ngIf="loading">
      <app-loading-spinner></app-loading-spinner>
      Loading comments. Please wait
    </div>
    <div *ngIf="!loading">
      <div class="col-md-12">
        <div class="blog-comment">
          <h3 class="comments-title">Comments</h3>
          <hr/>
          <ul class="comments">
            <li class="clearfix" *ngFor="let comments of comments; let i = index">
              <img src="https://bootdey.com/img/Content/user_1.jpg" class="avatar" alt="">
              <div class="post-comments">
                <p class="meta">{{comments.name}}</p>
                <p>
                  {{comments.body}}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
